@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400&display=swap');

* {
    box-sizing: border-box;
    outline: none;
    font-family: 'Roboto',sans-serif;
}

a {
    color: inherit;
}

body,html {
    margin: 0;
    padding: 0;
}

#content-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;

    > div {
        width: 100%;
        display: block;
    }
    #topbar {
        padding: 20px;
        display: flex;
        flex-direction: row;
        box-shadow: 0px 0px 20px rgba(0,0,0,.5);

        > div {
            display: block;

            .left {
                flex-grow: 1;

                img {
                    height: 60px;
                    width: auto;
                }
            }
            .right {

            }
        }
    }
    #router {
        flex-grow: 1;
        background: rgb(232, 232, 234);
        padding: 20px;
        overflow-y: auto;
    }
    #footer {
        text-align: center;
        padding: 14px;
        background: rgb(232, 232, 234);

        span {
            opacity: .6;
            font-size: 11px;
        }
    }
}