@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOkCnqEu92Fr1Mu52xP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmEU9vAw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmWUlvAw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmYUtvAw.ttf) format('truetype');
}
* {
  box-sizing: border-box;
  outline: none;
  font-family: 'Roboto', sans-serif;
}
a {
  color: inherit;
}
body,
html {
  margin: 0;
  padding: 0;
}
#content-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}
#content-container > div {
  width: 100%;
  display: block;
}
#content-container #topbar {
  padding: 20px;
  display: flex;
  flex-direction: row;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}
#content-container #topbar > div {
  display: block;
}
#content-container #topbar > div .left {
  flex-grow: 1;
}
#content-container #topbar > div .left img {
  height: 60px;
  width: auto;
}
#content-container #router {
  flex-grow: 1;
  background: #e8e8ea;
  padding: 20px;
  overflow-y: auto;
}
#content-container #footer {
  text-align: center;
  padding: 14px;
  background: #e8e8ea;
}
#content-container #footer span {
  opacity: 0.6;
  font-size: 11px;
}
/*# sourceMappingURL=main.css.map */